@import '../../styles/core';

body.service-purchase-page {
  .mt-header {
    background: #fff;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  }
}

.service-purchase--container {
  background: #45a2f87c;
  margin-top: $header-height;

  @include breakpoint('md') {
    margin-top: unset;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.service-purchase--main {
  position: relative;
  height: 1000px;

  @include breakpoint('md') {
    flex: 1 0 auto;
    height: auto;
  }

  .featured-image {
    height: 100%;

    &-overlay {
      background: $black;
      opacity: 0.4;
    }
  }
}

.service-purchase--calendar {
  margin: 8vw 8vw;
  overflow: hidden;
  border-radius: 10px;

  @include breakpoint('md') {
    margin: 0;
    border-radius: unset;
    overflow: visible;
  }
}

.service-purchase-page {
  .content-sidebar {
    .service-details {
      display: flex;
      flex-flow: column;

      &--price {
        order: 0;
        @include h1;
        margin-bottom: 50px;
      }

      &--title,
      &--details {
        order: 1;
      }

      &--title {
        @include h3;
        margin-bottom: 20px;

        .btn {
          opacity: 0.5;
          line-height: 26px;
          padding-right: 12px;
          padding-left: 12px;
          font-size: 10px;
          bottom: 5px;
        }
      }

      h6 {
        margin: 40px 0 10px;
      }
    }

    .event-link-buttons {
      margin: 20px 0 30px;

      @include breakpoint('md') {
        margin-bottom: 0;
      }
      .btn {
        margin: 0 12px 12px 0;
      }
    }

    .foot {
      margin-top: 20px;

      .paypal-badge {
        max-width: 150px;
        width: 100%;
      }
    }
  }
}
