#homepage-scroll-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.mt-zeus-hero-content {
  &[style*='opacity: 0;'] {
    .mt-zeus-hero-content--foot {
      pointer-events: none;
    }
  }
}

.fade-layer {
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000;
  pointer-events: none;
  opacity: 0.9;
}
