@import '../../styles/core';

@keyframes scroll-arrow-opacity {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes scroll-arrow-translate {
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

.mt-zeus-hero-bkg {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  position: relative;
}

.mt-zeus-hero-content {
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 100;
  top: 20vh;
  bottom: 80px;
  left: 30px;
  right: 30px;
  text-align: center;
  justify-content: space-between;
  pointer-events: none;

  &--head {
    .subhead {
      @include body-regular();
    }
  }

  &--foot {
    pointer-events: auto;
    .button-group {
      display: inline-flex;

      .btn {
        width: 240px;
        margin: 0 10px;
      }
    }
  }

  &--scroll-arrow {
    position: relative;
    animation: scroll-arrow-translate 2s ease-in-out infinite;

    span {
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      box-shadow: inset -2px -2px 0 $black;
      transform: rotate(45deg);
      top: -8px;
      animation: scroll-arrow-opacity 2s ease-in-out infinite;

      &:nth-of-type(2) {
        top: 0;
        animation-delay: 0.4s;
      }

      &:nth-of-type(3) {
        top: 8px;
        animation-delay: 0.8s;
      }
    }
  }
}
