@import '../../styles/core';

.mt-zeus-hero-bkg {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  position: relative;

  &--image {
    height: 100%;
  }

  &--overlay {
    background: $black;
    opacity: 0.6;
  }
}

.mt-zeus-hero-content {
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 100;
  top: 20vh;
  bottom: 30px;
  left: 30px;
  right: 30px;
  text-align: center;
  justify-content: space-between;
  pointer-events: none;

  @include breakpoint('sm') {
    bottom: 80px;
  }

  &--head {
    max-width: 700px;
    margin: 0 auto;

    .subhead {
      @include body-regular();
    }
  }

  &.white-text {
    .mt-zeus-hero-content--head {
      color: #fff;

      h1,
      .subhead {
        color: inherit;
      }
    }

    .mt-zeus-hero-content--foot {
      .scroll-arrow {
        span:before,
        span:after {
          background: #fff;
        }
      }
    }
  }

  &--foot {
    pointer-events: auto;

    .button-group {
      display: flex;
      flex-flow: column;
      align-items: center;

      @include breakpoint('sm') {
        display: inline-flex;
        align-items: unset;
        flex-flow: row;
      }

      .btn {
        width: 100%;
        margin: 20px 0 0;
        flex: 1;

        @include breakpoint('sm') {
          width: 240px;
          margin: 0 10px;
        }
      }

      .scroll-arrow {
        bottom: 10vh;

        @include breakpoint('sm') {
          bottom: 8vh;
        }
      }
    }
  }
}
