// Colors
///////////////////////////////////////////////
$black: #000;
$charcoal: #373d48;

// Type
///////////////////////////////////////////////
$primary-font: 'Gotham', sans-serif;

// Buttons
///////////////////////////////////////////////
$btn-timing-function: cubic-bezier(0.17, 0.67, 0.5, 1);
$ease-out-quartic: cubic-bezier(0.17, 0.84, 0.44, 1);

// Header
///////////////////////////////////////////////
$header-height: 55px;
